# Ignore everything
*

# But not Java files...
!.gitignore
!*.java
!LOADTEST.md
!*.lua
!*.jar

# And CI
!.travis.yml
!build.gradle.kts
!gradlew
!LICENSE
!README.md
!settings.gradle

# ...even if they are in subdirectories
!*/
